<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Minimal configuration</title>
        <input-field>
            <name>username</name>
            <label>Username</label>
        </input-field>
        <input-field type="password">
            <name>password</name>
            <label>Password</label>
        </input-field>
        <component name="shyim-api-test-button">
            <name>apiTest</name>
            <label>API Verbindung testen</label>
        </component>
    </card>
</config>
